<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function fn_mod(){
	location.href="emp_mod?e_id={{mylist.e_id}}"
}
function fn_del_act(){
	document.frm.submit();
}
</script>
</head>
<body>
	<h4>EMP_DETAIL</h4>
	
	<form action="emp_del_act" name="frm" method="post">
		<input type="hidden" name="e_id" value="{{mylist.e_id}}"/>
	</form>
		<table border="1">
		<tr>
			<td>사번</td>
			<td>{{mylist.e_id}}</td>
		</tr>
		<tr>
			<td>이름</td>
			<td>{{mylist.e_name}}</td>
		</tr>
		<tr>
			<td>성별</td>
			<td>{{mylist.gen}}</td>
		</tr>
		<tr>
			<td>주소</td>
			<td>{{mylist.addr}}</td>
		</tr>
		<tr>
			<td>
			<input type="button" value="수정" onclick="fn_mod()"/>
			<input type="button" value="삭제" onclick="fn_del_act()"/>
			</td>
		</tr>
		</table>
<br/>
</body>
</html>